<!DOCTYPE gui>
<gui name="dolphin" translationDomain="kxmlgui6" version="43">
 <ToolBar alreadyVisited="1" name="mainToolBar" noMerge="1">
  <text context="@title:menu" translationDomain="dolphin">Main Toolbar</text>
  <Action name="go_back"/>
  <Action name="go_forward"/>
  <Action name="go_up"/>
  <Action name="basic_actions"/>
  <Action name="url_navigators"/>
  <Action name="split_view"/>
  <Action name="toggle_filter"/>
  <Action name="panels"/>
  <Action name="split_stash"/>
  <Action name="toggle_search"/>
  <Action name="show_terminal_panel"/>
  <Action name="show_information_panel"/>
  <Action name="hamburger_menu"/>
 </ToolBar>
</gui>
