[Desktop Entry]
Name=Kanshi (Wayland)
Comment=Dynamic output configuration for Wayland WMs
Exec=kanshi
Icon=preferences-desktop-display
Terminal=false
Type=Application
Categories=Settings;X-Wayland;
OnlyShowIn=wlroots;
NoDisplay=false
StartupNotify=false
