// Settings that are detected based on the properties of the system:
- name="uefi" detect="'/sys/firmware/efi'.IO.e" required-by-chroot=#true
- name="total-ram-gib" detect="('/proc/meminfo'.IO.lines.grep(/MemTotal/).first.words[1] / 1024 / 1024).ceiling"
- name="avx2-available" detect="'/proc/cpuinfo'.IO.lines.first(*.contains('flags')).contains('avx2').so"
- name="has-bluetooth" detect="qx{lsusb}.lines.grep(*.contains(/:i bluetooth/)).so || qx{lspci}.lines.grep(*.contains(/:i bluetooth/)).so || 'sys/class/bluetooth'.IO.e"
- name="amd-gpu-pci-id" detect=#"qx{lspci -nn}.lines.grep(/:i 'vga' .* 'amd'/).&{ $_ ?? .first.match(/\w+':' (\w+) ']'/).[0].Str !! '' }"#
- name="nvidia-pci-id" detect=#"qx{lspci -nn}.lines.grep(/:i 'vga'.*'nvidia'/).&{ $_ ?? .first.match(/\w+':' (\w+) ']'/).[0].Str !! '' }"#
- name="has-hybrid-nvidia-gpu" detect="my @gpus = qx{lspci -d ::0300}.lines.grep(*.chars > 0); @gpus > 1 && @gpus.any.contains(/:i nvidia/) && !@gpus.all.contains(/:i nvidia/)"
- name="b43-required" detect="qx{journalctl -k}.grep(rx/«b43 .* Loading/).so"
- name="cpu-name" detect=#"'/proc/cpuinfo'.IO.lines.grep(/^model\sname\s*\:/).unique.map({ .split(':')[1].trim }).first"#
- name="intel-cpu" detect="'/proc/cpuinfo'.IO.lines.first(* ~~ /vendor_id/).contains('GenuineIntel')"
- name="amd-cpu" detect="'/proc/cpuinfo'.IO.lines.first(* ~~ /vendor_id/).contains('AuthenticAMD')"
- name="virtual-environment" detect="run('systemd-detect-virt', '-q').exitcode eq 0"
- name="virtualbox" detect="qx{lspci}.contains(/:i virtualbox/)"
- name="display-hardware-in-use" detect="%*ENV<DISPLAY>.defined && %*ENV<DISPLAY>.chars > 0"
- name="installing-over-ssh" detect="%*ENV<SSH_CONNECTION>.defined && %*ENV<SSH_CONNECTION>.chars > 0"
- name="virtual-terminal" detect="(%*ENV<TERM>.defined && %*ENV<TERM> eq 'linux') || (%*ENV<PARENT_TERM>.defined && %*ENV<PARENT_TERM> eq 'linux')"
- name="release-version" detect="run('pacman', '-Qs', 'ditana-mirrorlist', :out(False), :err(False)).exitcode == 0"
- name="real-install" detect="$*USER eq 'root'"
- name="is-spectre-v2-vulnerable" detect="given '/sys/devices/system/cpu/vulnerabilities/spectre_v2'.IO { .e && .slurp.chomp ne 'Not affected' }"
- name="is-l1tf-vulnerable" detect="given '/sys/devices/system/cpu/vulnerabilities/l1tf'.IO { .e && .slurp.chomp ne 'Not affected' }"
- name="is-mds-vulnerable" detect="given '/sys/devices/system/cpu/vulnerabilities/mds'.IO { .e && .slurp.chomp ne 'Not affected' }"
- name="is-taa-vulnerable" detect="given '/sys/devices/system/cpu/vulnerabilities/tsx_async_abort'.IO { .e && .slurp.chomp ne 'Not affected' }"
- name="is-meltdown-vulnerable" detect="given '/sys/devices/system/cpu/vulnerabilities/meltdown'.IO { .e && .slurp.chomp ne 'Not affected' }"
- name="is-mmio-stale-data-vulnerable" detect="given '/sys/devices/system/cpu/vulnerabilities/mmio_stale_data'.IO { .e && .slurp.chomp ne 'Not affected' }"
- name="is-retbleed-vulnerable" detect="given '/sys/devices/system/cpu/vulnerabilities/retbleed'.IO { .e && .slurp.chomp ne 'Not affected' }"
- name="is-srso-vulnerable" detect="given '/sys/devices/system/cpu/vulnerabilities/spec_rstack_overflow'.IO { .e && .slurp.chomp ne 'Not affected' }"
- name="is-gds-vulnerable" detect="given '/sys/devices/system/cpu/vulnerabilities/gather_data_sampling'.IO { .e && .slurp.chomp ne 'Not affected' }"
- name="is-rfds-vulnerable" detect="given '/sys/devices/system/cpu/vulnerabilities/reg_file_data_sampling'.IO { .e && .slurp.chomp ne 'Not affected' }"
- name="set-font-hook-exists" detect="'/tmp/ditana-set-font.sh'.IO.e"
- name="display-size" detect="%*ENV<DISPLAY_SIZE>.defined ?? %*ENV<DISPLAY_SIZE> !! 11"
- name="terminal-columns" detect="%*ENV<TERMINAL_COLUMNS>.defined ?? %*ENV<TERMINAL_COLUMNS> !! 0"
- name="terminal-lines" detect="%*ENV<TERMINAL_LINES>.defined ?? %*ENV<TERMINAL_LINES> !! 0"
- name="tmux" detect="%*ENV<TMUX>.so"
