[Desktop Entry]
Version=1.0
Type=Link
Name=Best Practices
Comment=Best Practices in Ditana
Icon=/usr/share/pixmaps/ditana-logo-small.png
URL=https://ditana.org/best-practices
