[Desktop Entry]
Version=1.0
Type=Link
Name=Donate to Ditana
Comment=Support the development of Ditana
Icon=/usr/share/pixmaps/ditana-shakehands.png
URL=https://ditana.org/donate
